{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h4">
                  Об авторе
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Петухов Александр Сергеевич
                    +79263584922
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <p>
                Меня зовут Александр, мне 34 года.<br>
                Программированием я увлекся в апреле 2020 года, когда был первый локдаун из-за корроновируса.

                Выбирая с чего начать, то Python сам меня нашел или если без пафоса, заклинания:
                <strong>"выучи python здесь и сейчас"</strong> щемились из каждой угла интернета.<br>
                <br>
                Почитав отзывы о языке, решил попробовать и решил начать с учебного партала
                <a href='https://stepik.org/' target='_blank'>Stepic </a>
                И с первых строк я влюбился в эту "змеюку", вообще у меня есть такая слабость к змеям,
                ранее был обладателем настоящего королевского питона.<br>
                Сначала я изучал Python самостоятельно, решал задачи, узнавал каждый день что то новое.
                В итоге один курс степика прошел на 100%
                <a href='https://stepik.org/cert/799279' target="_blank">Мой сертификат</a>.
                Второй курс я прошел на 85%.
                Почему я его не завершил, все очень просто, 28 февраля 2021 года я поступил в Яндекс Практикум.<br>
                Вот где началось самое настоящее обучение!<br>
                Данный сайт был сделан благодаря Практикуму.

            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}