{% extends "base.html" %}
{% load cache %}
{% block title %} Ваши подписки {% endblock %}
{% block content %}

    <div class="container">
           <h1>Ваши подписки</h1>
    {% include "auxiliary/menu.html" %}
                {% for post in page %}
                    {% include "auxiliary/post_item.html" with post=post group=True add_comment=True %}
                {% endfor %}
    </div>
        {% if page.has_other_pages %}
            {% include "auxiliary/paginator.html" with items=page paginator=paginator%}
        {% endif %}

{% endblock %}