{% extends "base.html" %}
{% load cache %}
{% block title %} Ваши подписки {% endblock %}
{% block content %}

    <div class="container">
    {% cache 20 index_page page.number %}
           <h1>Ваши подписки</h1>
                {% for post in page %}
                    {% include "post_item.html" with post=post group=True add_comment=True %}
                {% endfor %}
        {% include "auxiliary/menu.html" %}
    {% endcache %}
    </div>
        {% if page.has_other_pages %}
            {% include "auxiliary/paginator.html" with items=page paginator=paginator%}
        {% endif %}

{% endblock %}