{% extends "base.html" %}
{% load cache %}
{% block title %} Последние обновления {% endblock %}
{% block content %}
    <div class="container">
        <h1> Последние обновления на сайте</h1>
        {% include "auxiliary/menu.html" with index=True %}
        {% cache 20 index_page page.number %}
            {% for post in page %}
                {% include "auxiliary/post_item.html" with post=post %}
            {% endfor %}
        {% endcache %}
    </div>
        {% if page.has_other_pages %}
            {% include "auxiliary/paginator.html" with items=page paginator=paginator%}
        {% endif %}

{% endblock %}