{% extends "base.html" %}
{% block title %}{{author}}{% endblock %}
{% block header %}Успей купить место для рекламы. Лучше звоните Солу!{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        {% include "auxiliary/card_profile.html" with author=author card_profile=False %}
        <div class="col-md-9">
            {% include "auxiliary/post_item.html" with post=post %}
            {% include 'auxiliary/comments.html' with post=post %}
        </div>
    </div>
</main>
{% endblock %}